## WHO Life Expectancy Dataset

Using the WHO Life Expectancy Dataset to predict the Life Expectancy given various values such as country status, mortality etc.

I could not find the link for the dataset on UCI ML Repository, hence I have loaded it directly using a .csv file. I do know the process of using a link to import the dataset using requests library. I tried using the Kaggle download link, but it does not work.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df=pd.read_csv("Life Expectancy Data.csv")

In [3]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
df.shape

(2938, 22)

In [5]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [7]:
df.isnull().sum()['Hepatitis B']

553

In [8]:
total_missing=df.isnull().sum().sum()
total_cells=np.product(df.shape)

In [9]:
missing_percentage=(total_missing/total_cells)*100
print("Missing Data Percentage:",missing_percentage)

Missing Data Percentage: 3.965282505105514

In [10]:
missing_data=[]

# % of data missing per column
def getMissingPercentagePerColumn():
    for i in df.columns:
        print(i,df.isnull().sum()[i])
        missing_values=df.isnull().sum()[i]
        total_values=df.shape[0]
        missing_data.append([i,(missing_values/total_values)*100])
        
getMissingPercentagePerColumn()

Country 0
Year 0
Status 0
Life expectancy  10
Adult Mortality 10
infant deaths 0
Alcohol 194
percentage expenditure 0
Hepatitis B 553
Measles  0
 BMI  34
under-five deaths  0
Polio 19
Total expenditure 226
Diphtheria  19
 HIV/AIDS 0
GDP 448
Population 652
 thinness  1-19 years 34
 thinness 5-9 years 34
Income composition of resources 167
Schooling 163

In [11]:
missing_data

[['Country', 0.0],
 ['Year', 0.0],
 ['Status', 0.0],
 ['Life expectancy ', 0.3403675970047651],
 ['Adult Mortality', 0.3403675970047651],
 ['infant deaths', 0.0],
 ['Alcohol', 6.603131381892443],
 ['percentage expenditure', 0.0],
 ['Hepatitis B', 18.82232811436351],
 ['Measles ', 0.0],
 [' BMI ', 1.1572498298162015],
 ['under-five deaths ', 0.0],
 ['Polio', 0.6466984343090538],
 ['Total expenditure', 7.6923076923076925],
 ['Diphtheria ', 0.6466984343090538],
 [' HIV/AIDS', 0.0],
 ['GDP', 15.248468345813478],
 ['Population', 22.19196732471069],
 [' thinness  1-19 years', 1.1572498298162015],
 [' thinness 5-9 years', 1.1572498298162015],
 ['Income composition of resources', 5.684138869979578],
 ['Schooling', 5.547991831177672]]

In [12]:
df.drop(columns=["Hepatitis B","GDP","Population","Country","Year"],inplace=True)

In [13]:
# Checking to see if all values are numeric
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Status                           2938 non-null   object
 1   Life expectancy                  2928 non-null   float64
 2   Adult Mortality                  2928 non-null   float64
 3   infant deaths                    2938 non-null   int64
 4   Alcohol                          2744 non-null   float64
 5   percentage expenditure           2938 non-null   float64
 6   Measles                          2938 non-null   int64
 7    BMI                             2904 non-null   float64
 8   under-five deaths                2938 non-null   int64
 9   Polio                            2919 non-null   float64
 10  Total expenditure                2712 non-null   float64
 11  Diphtheria                       2919 non-null   float64
 12   HIV/AIDS                        2938 non-null   float64
 13   thinness  1-19 years            2904 non-null   float64
 14   thinness 5-9 years              2904 non-null   float64
 15  Income composition of resources  2771 non-null   float64
 16  Schooling                        2775 non-null   float64
dtypes: float64(13), int64(3), object(1)
memory usage: 390.3+ KB

In [14]:
df["Status"].value_counts()

Developing    2426
Developed      512
Name: Status, dtype: int64

In [15]:
df=pd.get_dummies(df,prefix="",prefix_sep="",drop_first=True)

In [16]:
df

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Developing
0,65.0,263.0,62,0.01,71.279624,1154,19.1,83,6.0,8.16,65.0,0.1,17.2,17.3,0.479,10.1,1
1,59.9,271.0,64,0.01,73.523582,492,18.6,86,58.0,8.18,62.0,0.1,17.5,17.5,0.476,10.0,1
2,59.9,268.0,66,0.01,73.219243,430,18.1,89,62.0,8.13,64.0,0.1,17.7,17.7,0.470,9.9,1
3,59.5,272.0,69,0.01,78.184215,2787,17.6,93,67.0,8.52,67.0,0.1,17.9,18.0,0.463,9.8,1
4,59.2,275.0,71,0.01,7.097109,3013,17.2,97,68.0,7.87,68.0,0.1,18.2,18.2,0.454,9.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,44.3,723.0,27,4.36,0.000000,31,27.1,42,67.0,7.13,65.0,33.6,9.4,9.4,0.407,9.2,1
2934,44.5,715.0,26,4.06,0.000000,998,26.7,41,7.0,6.52,68.0,36.7,9.8,9.9,0.418,9.5,1
2935,44.8,73.0,25,4.43,0.000000,304,26.3,40,73.0,6.53,71.0,39.8,1.2,1.3,0.427,10.0,1
2936,45.3,686.0,25,1.72,0.000000,529,25.9,39,76.0,6.16,75.0,42.1,1.6,1.7,0.427,9.8,1
2937,46.0,665.0,24,1.68,0.000000,1483,25.5,39,78.0,7.10,78.0,43.5,11.0,11.2,0.434,9.8,1

In [17]:
from sklearn.impute import SimpleImputer

In [18]:
# Replacing missing values with mean
imputer=SimpleImputer(strategy="mean")

In [19]:
new_df=imputer.fit_transform(df)

In [20]:
df.columns

Index(['Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol',
       'percentage expenditure', 'Measles ', ' BMI ', 'under-five deaths ',
       'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling', 'Developing'],
      dtype='object')

In [21]:
new_df=pd.DataFrame(new_df,columns=df.columns)

In [22]:
new_df

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Developing
0,65.0,263.0,62.0,0.01,71.279624,1154.0,19.1,83.0,6.0,8.16,65.0,0.1,17.2,17.3,0.479,10.1,1.0
1,59.9,271.0,64.0,0.01,73.523582,492.0,18.6,86.0,58.0,8.18,62.0,0.1,17.5,17.5,0.476,10.0,1.0
2,59.9,268.0,66.0,0.01,73.219243,430.0,18.1,89.0,62.0,8.13,64.0,0.1,17.7,17.7,0.470,9.9,1.0
3,59.5,272.0,69.0,0.01,78.184215,2787.0,17.6,93.0,67.0,8.52,67.0,0.1,17.9,18.0,0.463,9.8,1.0
4,59.2,275.0,71.0,0.01,7.097109,3013.0,17.2,97.0,68.0,7.87,68.0,0.1,18.2,18.2,0.454,9.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,44.3,723.0,27.0,4.36,0.000000,31.0,27.1,42.0,67.0,7.13,65.0,33.6,9.4,9.4,0.407,9.2,1.0
2934,44.5,715.0,26.0,4.06,0.000000,998.0,26.7,41.0,7.0,6.52,68.0,36.7,9.8,9.9,0.418,9.5,1.0
2935,44.8,73.0,25.0,4.43,0.000000,304.0,26.3,40.0,73.0,6.53,71.0,39.8,1.2,1.3,0.427,10.0,1.0
2936,45.3,686.0,25.0,1.72,0.000000,529.0,25.9,39.0,76.0,6.16,75.0,42.1,1.6,1.7,0.427,9.8,1.0
2937,46.0,665.0,24.0,1.68,0.000000,1483.0,25.5,39.0,78.0,7.10,78.0,43.5,11.0,11.2,0.434,9.8,1.0

In [23]:
new_df.isnull().sum()

Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
Developing                         0
dtype: int64

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
rf_model=RandomForestRegressor(n_estimators=100)

In [26]:
from sklearn.model_selection import train_test_split
X=new_df.drop(columns=['Life expectancy '])
y=new_df["Life expectancy "]

In [27]:
# Splitting the dataset in 3 ratios
xtr70, xts70, ytr70, yts70 = train_test_split(X, y, test_size=0.3, random_state=42)
xtr75, xts75, ytr75, yts75 = train_test_split(X, y, test_size=0.25, random_state=42)
xtr80, xts80, ytr80, yts80 = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [29]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
def getErrorMetrics(pred,y):
    print(f"MAE:{mean_absolute_error(pred,y)}\n")
    print(f"MSE:{mean_squared_error(pred,y)}\n")
    print(f"R2 Score:{r2_score(pred,y)}\n")

In [30]:
# Fits, makes predictions and prints error metrics
def makePredictions(model,x_train,y_train,x_test,y_test):
    model.fit(x_train,y_train)
    prediction=model.predict(x_test)
    getErrorMetrics(prediction,y_test)

In [31]:
makePredictions(rf_model,xtr70,ytr70,xts70,yts70)

MAE:1.1534106887290432

MSE:3.2880331555735207

R2 Score:0.9632673801035234

In [32]:
makePredictions(rf_model,xtr80,ytr80,xts80,yts80)

MAE:1.0687270152596555

MSE:2.662163025714579

R2 Score:0.9681149976729603

In [33]:
makePredictions(rf_model,xtr75,ytr75,xts75,yts75)

MAE:1.136061593435187

MSE:3.113318035740501

R2 Score:0.9641654502832799

In [34]:
makePredictions(rf_model,X,y,X,y)

MAE:0.39958988866445705

MSE:0.4274242880960736

R2 Score:0.995128887260942

In [35]:
from sklearn.model_selection import RandomizedSearchCV

In [36]:
# Cross validation

params={
    "n_estimators":[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000],
    "max_features":["auto","sqrt"],
    "max_depth":[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None]    
}

rcv=RandomizedSearchCV(estimator=RandomForestRegressor(),param_distributions=params,verbose=2,random_state=42)

In [37]:
rcv.fit(xtr80,ytr80)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] n_estimators=600, max_features=sqrt, max_depth=70 ...............

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=600, max_features=sqrt, max_depth=70, total=   2.3s
[CV] n_estimators=600, max_features=sqrt, max_depth=70 ...............

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.2s remaining:    0.0s

[CV]  n_estimators=600, max_features=sqrt, max_depth=70, total=   2.3s
[CV] n_estimators=600, max_features=sqrt, max_depth=70 ...............
[CV]  n_estimators=600, max_features=sqrt, max_depth=70, total=   2.3s
[CV] n_estimators=600, max_features=sqrt, max_depth=70 ...............
[CV]  n_estimators=600, max_features=sqrt, max_depth=70, total=   2.3s
[CV] n_estimators=600, max_features=sqrt, max_depth=70 ...............
[CV]  n_estimators=600, max_features=sqrt, max_depth=70, total=   2.3s
[CV] n_estimators=1800, max_features=auto, max_depth=80 ..............
[CV]  n_estimators=1800, max_features=auto, max_depth=80, total=  17.9s
[CV] n_estimators=1800, max_features=auto, max_depth=80 ..............
[CV]  n_estimators=1800, max_features=auto, max_depth=80, total=  17.7s
[CV] n_estimators=1800, max_features=auto, max_depth=80 ..............
[CV]  n_estimators=1800, max_features=auto, max_depth=80, total=  17.6s
[CV] n_estimators=1800, max_features=auto, max_depth=80 ..............
[CV]  n_estimators=1800, max_features=auto, max_depth=80, total=  17.7s
[CV] n_estimators=1800, max_features=auto, max_depth=80 ..............
[CV]  n_estimators=1800, max_features=auto, max_depth=80, total=  17.8s
[CV] n_estimators=800, max_features=sqrt, max_depth=50 ...............
[CV]  n_estimators=800, max_features=sqrt, max_depth=50, total=   3.1s
[CV] n_estimators=800, max_features=sqrt, max_depth=50 ...............
[CV]  n_estimators=800, max_features=sqrt, max_depth=50, total=   3.0s
[CV] n_estimators=800, max_features=sqrt, max_depth=50 ...............
[CV]  n_estimators=800, max_features=sqrt, max_depth=50, total=   3.0s
[CV] n_estimators=800, max_features=sqrt, max_depth=50 ...............
[CV]  n_estimators=800, max_features=sqrt, max_depth=50, total=   3.1s
[CV] n_estimators=800, max_features=sqrt, max_depth=50 ...............
[CV]  n_estimators=800, max_features=sqrt, max_depth=50, total=   3.1s
[CV] n_estimators=200, max_features=auto, max_depth=100 ..............
[CV]  n_estimators=200, max_features=auto, max_depth=100, total=   2.0s
[CV] n_estimators=200, max_features=auto, max_depth=100 ..............
[CV]  n_estimators=200, max_features=auto, max_depth=100, total=   2.0s
[CV] n_estimators=200, max_features=auto, max_depth=100 ..............
[CV]  n_estimators=200, max_features=auto, max_depth=100, total=   2.0s
[CV] n_estimators=200, max_features=auto, max_depth=100 ..............
[CV]  n_estimators=200, max_features=auto, max_depth=100, total=   2.0s
[CV] n_estimators=200, max_features=auto, max_depth=100 ..............
[CV]  n_estimators=200, max_features=auto, max_depth=100, total=   2.0s
[CV] n_estimators=1200, max_features=sqrt, max_depth=10 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=10, total=   3.5s
[CV] n_estimators=1200, max_features=sqrt, max_depth=10 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=10, total=   3.5s
[CV] n_estimators=1200, max_features=sqrt, max_depth=10 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=10, total=   3.5s
[CV] n_estimators=1200, max_features=sqrt, max_depth=10 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=10, total=   3.5s
[CV] n_estimators=1200, max_features=sqrt, max_depth=10 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=10, total=   3.5s
[CV] n_estimators=1200, max_features=sqrt, max_depth=60 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=60, total=   4.7s
[CV] n_estimators=1200, max_features=sqrt, max_depth=60 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=60, total=   4.6s
[CV] n_estimators=1200, max_features=sqrt, max_depth=60 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=60, total=   4.6s
[CV] n_estimators=1200, max_features=sqrt, max_depth=60 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=60, total=   4.6s
[CV] n_estimators=1200, max_features=sqrt, max_depth=60 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=60, total=   4.6s
[CV] n_estimators=600, max_features=sqrt, max_depth=90 ...............
[CV]  n_estimators=600, max_features=sqrt, max_depth=90, total=   2.3s
[CV] n_estimators=600, max_features=sqrt, max_depth=90 ...............
[CV]  n_estimators=600, max_features=sqrt, max_depth=90, total=   2.3s
[CV] n_estimators=600, max_features=sqrt, max_depth=90 ...............
[CV]  n_estimators=600, max_features=sqrt, max_depth=90, total=   2.3s
[CV] n_estimators=600, max_features=sqrt, max_depth=90 ...............
[CV]  n_estimators=600, max_features=sqrt, max_depth=90, total=   2.3s
[CV] n_estimators=600, max_features=sqrt, max_depth=90 ...............
[CV]  n_estimators=600, max_features=sqrt, max_depth=90, total=   2.3s
[CV] n_estimators=2000, max_features=auto, max_depth=None ............
[CV]  n_estimators=2000, max_features=auto, max_depth=None, total=  19.9s
[CV] n_estimators=2000, max_features=auto, max_depth=None ............
[CV]  n_estimators=2000, max_features=auto, max_depth=None, total=  19.6s
[CV] n_estimators=2000, max_features=auto, max_depth=None ............
[CV]  n_estimators=2000, max_features=auto, max_depth=None, total=  20.1s
[CV] n_estimators=2000, max_features=auto, max_depth=None ............
[CV]  n_estimators=2000, max_features=auto, max_depth=None, total=  19.7s
[CV] n_estimators=2000, max_features=auto, max_depth=None ............
[CV]  n_estimators=2000, max_features=auto, max_depth=None, total=  19.9s
[CV] n_estimators=1200, max_features=sqrt, max_depth=40 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=40, total=   4.6s
[CV] n_estimators=1200, max_features=sqrt, max_depth=40 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=40, total=   4.5s
[CV] n_estimators=1200, max_features=sqrt, max_depth=40 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=40, total=   4.6s
[CV] n_estimators=1200, max_features=sqrt, max_depth=40 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=40, total=   4.6s
[CV] n_estimators=1200, max_features=sqrt, max_depth=40 ..............
[CV]  n_estimators=1200, max_features=sqrt, max_depth=40, total=   4.6s
[CV] n_estimators=600, max_features=auto, max_depth=80 ...............
[CV]  n_estimators=600, max_features=auto, max_depth=80, total=   6.0s
[CV] n_estimators=600, max_features=auto, max_depth=80 ...............
[CV]  n_estimators=600, max_features=auto, max_depth=80, total=   5.9s
[CV] n_estimators=600, max_features=auto, max_depth=80 ...............
[CV]  n_estimators=600, max_features=auto, max_depth=80, total=   5.9s
[CV] n_estimators=600, max_features=auto, max_depth=80 ...............
[CV]  n_estimators=600, max_features=auto, max_depth=80, total=   5.9s
[CV] n_estimators=600, max_features=auto, max_depth=80 ...............
[CV]  n_estimators=600, max_features=auto, max_depth=80, total=   5.9s

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:  5.5min finished

RandomizedSearchCV(estimator=RandomForestRegressor(),
                   param_distributions={'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, None],
                                        'max_features': ['auto', 'sqrt'],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   random_state=42, verbose=2)

In [38]:
rcv.best_params_

{'n_estimators': 600, 'max_features': 'sqrt', 'max_depth': 90}

In [39]:
rf_best=rcv.best_estimator_

In [40]:
makePredictions(rf_best,xtr70,ytr70,xts70,yts70)

MAE:1.1259177952905537

MSE:3.120356392694533

R2 Score:0.9636610659990811

In [41]:
makePredictions(rf_best,xtr75,ytr75,xts75,yts75)

MAE:1.0975686873474384

MSE:2.721333563871609

R2 Score:0.9678850348116896

In [42]:
makePredictions(rf_best,xtr80,ytr80,xts80,yts80)

MAE:1.0407206566825307

MSE:2.513368362777017

R2 Score:0.9694266756849745